@import "../../styles";

.textArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 32px;
  & label {
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: $inputLabel;
  }
  &_area {
    height: 292px;
    width: 369px;
    left: 1007px;
    top: 0px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
    color: $black;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    border: 1px $borderColor solid;
    padding-left: 15px;
    border-radius: 8px;

  }
}
