@import "../../styles";

.sideBarRight {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 51;
  background-color: $white;
  height: 892px;
  width: 433px;
  top: 0px;
}
