@import "../styles";

.appLayout {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  &_navBar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 64px;
    width: 95vw;
    left: 0px;
    top: 0px;
    border: 1px #e8e8e8 solid;
    background-color: $white;
    overflow-y: hidden;
    & h5 {
      height: 26px;
      width: 210px;
      left: 111px;
      position: absolute;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 26px;
      letter-spacing: 0.20000000298023224px;
      text-align: left;
      margin: 0;
    }
  }
  &_leftBar {
    display: flex;
    position: absolute;
    width: 80px;
    left: 0px;
    top: 0px;
    border-radius: 1px;
    background-color: $white;
    border: 1px $borderColor solid;
    & img {
      height: 26px;
      width: 28px;
      left: 26px;
      top: 19px;
      position: absolute;
    }
  }
}
