@import "../../styles";

.tableComponent {
  background-color: $backgroundColor;
  .tableComponent_wrapper {
    padding: 32px 32px 0 32px;
    border-radius: 8px 8px 8px 8px;
    .tableComponent_header {
      width: 100%;
      height: 56px;
      display: flex;
      flex-direction: row;
      border: 1px #dbdde0 solid;
      border-radius: 8px 8px 0 0;
      &--specialist {
        width: 246px;
        height: 56px;
        border: 1px #dbdde0 solid;
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.1px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        padding-left: 78px;
        border-radius: 8px 0 0 0;
      }
      &--specialization {
        width: 100%;
        height: 56px;
        border: 1px #dbdde0 solid;
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.1px;
        display: flex;
        align-items: center;
        padding-left: 50px;
        border-radius: 0 8px 0 0;
      }
    }
    .table {
      background-color: $white;
      display: flex;
      flex-direction: row;
      color: $textColor;
      &_info {
        display: flex;
        flex-direction: row;
        width: 325px;
        height: 56px;
        border: 1px $tableBorderColor solid;
        overflow-y: scroll;
        flex-shrink: 0;
        &--avatar {
          display: flex;
          align-items: center;
          padding-left: 25px;
          & img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
          }
        }
        &--name {
          display: flex;
          padding-left: 21px;
          align-items: center;
          justify-content: center;
          font-family: Inter;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;
          letter-spacing: 0.1px;
          text-overflow: ellipsis;
        }
        &--specializations {
          width: 100%;
          height: 56px;
          border: 1px #dbdde0 solid;
          cursor: pointer;
          display: flex;
          align-items: center;
          padding-left: 50px;
          flex-wrap: nowrap;
          overflow-y: scroll;
          border-right: 2px;
          & span {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            flex-shrink: 0;
          }
        }
        &--pagination {
          background-color: $white;
          width: 100%;
          display: flex;
          justify-content: center;
          padding: 20px 0;
          border: 1px $tableBorderColor solid;
          border-radius: 0 0 8px 8px;
          margin-bottom: 52px;
        }
      }
    }
  }
}
