//colors
$white: #FFFFFF;
$textColor: #52575C;
$primary: #213C9A;
$error: #FB4E4E;
$borderColor: #E8E8E8;
$backgroundColor: #E5E5E5;
$appOverlayColor: #25282b95;
$inputLabel: #909397;
$black: #25282B;
$closeButtonColor: #707A88;
